Discord Bot/obj/Debug/Discord Bot.csproj.CoreCompileInputs.cache
.vs/Discord Bot/v15/Server/sqlite3/storage.ide-wal
.vs/Discord Bot/v15/Server/sqlite3/storage.ide-shm
.vs/Discord Bot/v15/Server/sqlite3/storage.ide
.vs/Discord Bot/v15/.suo
Discord Bot/obj/Debug/Discord Bot.pdb
Discord Bot/obj/Debug/Discord Bot.exe
Discord Bot/bin/Debug/Discord Bot.pdb
Discord Bot/bin/Debug/Discord Bot.exe
